@tailwind base;

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --main-color: #EE5F38;
    --white-background: #F3F3F3;
    --hover-text-color: #F4F3F3;
    --background-color: #212428;
    --text-color: #FFFFFF;
    --left-right-margin: 15px;
    --left-right-margin-sum: 30px;

    --max-mobile-width: 395px;

    /*overrides in layout style*/
    --header-font-family: '';
}

body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 20px;
    color: var(--text-color);
    background: var(--background-color);
    padding-bottom: 34px;
}

h1 {
    font-size: 48px;
    line-height: 1em;
}

p {
    text-align: justify;
}

.menu-container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-bottom: 15px;
    z-index: 1000;
}

.menu-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: var(--background-color);
    opacity: .6;
    z-index: -1;
}

.menu-container a {
    font-size: 25px;
}

.menu-container a:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 1098px){
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-container {
        width: 250px;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
    }

    .menu-container a:not(:last-child) {
        margin-left: 0;
        margin-right: 0;
    }

    .main-container {
        display: flex;
        width: 100%;
    }
}