@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #26292e;
    --text-color: #aeaeae;
    --active-link-color: #fff400;
    --button-text-color: #fefefe;
    --button-border-color: #ffffff;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 'leftMenu appContent';
    color: var(--text-color);
    background: var(--background-color)
}

.left-menu-container {
    grid-area: leftMenu;
}

.content-container {
    display: flex;
    flex-direction: column;
    grid-area: appContent;
}