.container {
    /*overwrite by inline variables*/
    --color: white;
    --size: 100px;
    --value: 100;
    --animation-state: '';
    /************************/

    position: relative;
    width: var(--size);
    height: var(--size);
}

.container svg {
    /*overwrite by inline variables*/
    --animation-duration: 1000ms;
    --animation-bounce-step-1: var(--value);
    --animation-bounce-step-2: var(--value);
    --animation-bounce-step-3: var(--value);
    --rotate-by: 0deg;
    /************************/

    width: 100%;
    height: 100%;
}

.container .value {
    fill: transparent;
    stroke: var(--color);
    stroke-width: 8%;
    stroke-linecap: round;
    stroke-dasharray: var(--value), 100;
    transform-origin: center;
    transform: rotate(var(--rotate-by));
}

.container .value.play {
    animation: progress var(--animation-duration) forwards;
}

.container .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--size) * .3);
    color: var(--color);
}

@keyframes progress {
    0%  {
        stroke-dasharray: var(--value), 100;
    }
    20% {
        stroke-dasharray: var(--animation-bounce-step-2), 100;
    }
    40% {
        stroke-dasharray: var(--value), 100;
    }
    60% {
        stroke-dasharray: var(--animation-bounce-step-3), 100;
    }
    100% {
        stroke-dasharray: var(--value), 100;
    }
}