.menuTab {
    --border-style: 2px var(--button-border-color) solid;
    --border-radius: 6px;
    --active-top-margin: 8px;
    --transition-duration: 300ms;
    --transition-function: linear;
    --transition-property: scale, color, border-color;

    position: relative;
    display: inline-block;
    border-top: var(--border-style);
    border-right: var(--border-style);
    border-left: var(--border-style);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 6px 6px 0;
    scale: 0.8;

    transition-property: var(--transition-property);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
    border-color: transparent;
    box-sizing: border-box;
    will-change: var(--transition-property);
}

.menuTab:not(:last-child) {
    margin-right: 30px;
}

.menuTab:not(.activeTab):hover {
    border-color: inherit;
    color: var(--button-text-color)
}

.menuTab:hover:not(.activeTab) {
    scale: 0.9;
}

.menuTab:hover::after,
.menuTab:hover::before {
    border-color: inherit;
    transition-property: var(--transition-property);
    transition-duration: 0ms;
    transition-timing-function: var(--transition-function);
}

.menuTab::after,
.menuTab::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 4px;
    border-bottom: var(--border-style);
    transition: inherit;
    will-change: inherit;
}

.menuTab::before {
    left: 0;
    border-right: var(--border-style);
    border-color: transparent;
    border-bottom-right-radius: var(--border-radius);
    transform: translate(-100%, 4px);
}

.menuTab::after {
    right: 0;
    border-left: var(--border-style);
    border-color: transparent;
    border-bottom-left-radius: var(--border-radius);
    transform: translate(100%, 4px);
}

.activeTab {
    border-color: var(--active-link-color);
    color: var(--active-link-color);
    scale: 1;
}

.activeTab::before,
.activeTab::after {
    border-color: inherit;
}